In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Final Tables through 2016 - Race & Ethnicity.csv').fillna(0)

In [3]:
df

,Race and Ethnicity in Chicago Community Areas,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,0,1930,1940,1950,1960,1970,1980,1990,2000*,2010,2008-2012,2009-2013,2010-2014,2011-2015,2012-2016
1,1. Rogers Park,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Total,"57,094","60,565","62,252","56,888","60,787","55,525","60,378","63,484","54,991","57,559","57,165","55,053","54,402","55,500"
3,Asian,0,0,0,0,"1,620",N/A,"5,100","4,063","3,523","3,876","3,450","3,526","3,501","3,205"
4,Black or African-American,128,130,108,57,762,"5,095","15,885","18,767","14,461","15,662","15,461","14,325","13,320","14,455"
5,Persons of Spanish Language*,0,0,0,0,"2,802","6,621","12,005","17,639","13,433","14,280","14,189","13,530","13,135","12,383"
6,White,"56,895","60,370","62,095","56,503","58,050","38,699","27,030","20,170","21,618","21,819","22,304","22,094","22,769","23,604"
7,Other,71,65,49,328,355,"5,110",358,"2,845","1,956","1,922","1,761","1,578","1,677","1,853"
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2. West Ridge,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,Total,"39,759","43,553","47,930","63,884","65,432","61,129","65,374","73,199","71,942","73,705","73,305","73,019","72,211","73,723"
11,Asian,0,0,0,0,560,N/A,"10,523","16,347","16,184","17,078","17,702","17,097","16,868","16,641"
12,Black or African-American,46,111,115,81,91,436,"2,045","4,962","8,015","7,683","7,529","7,644","8,110","8,936"
13,Persons of Spanish Language*,0,0,0,0,"1,129","2,266","5,398","11,353","14,701","15,260","13,994","13,088","12,672","13,366"
14,White,"39,701","43,413","47,786","63,696","64,690","52,949","47,098","36,403","30,706","31,779","31,630","32,839","31,978","31,806"
15,Other,12,29,29,107,91,"5,478",310,"4,134","2,336","1,905","2,450","2,351","2,583","2,974"
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,3. Uptown,0,0,0,0,0,0,0,0,0,0,0,0,0,0
18,Total,"67,699","77,677","84,462","76,103","74,838","64,414","63,839","63,551","56,362","54,995","54,449","54,062","55,137","56,296"
19,Asian,0,0,0,0,"4,039",N/A,"8,859","8,206","6,414","6,402","5,803","5,285","4,854","5,773"
20,Black or African-American,445,426,436,370,"3,045","9,416","15,134","13,415","11,275","11,062","10,796","10,785","11,445","10,970"
21,Persons of Spanish Language*,0,0,0,0,"9,955","14,984","14,398","12,674","8,009","7,010","6,627","6,964","6,402","7,468"
22,White,"66,932","77,019","82,868","72,147","65,644","30,561","24,743","26,784","29,098","28,769","29,312","28,972","30,371","30,456"
23,Other,322,232,"1,158","3,586","2,110","9,453",705,"2,472","1,566","1,752","1,911","2,056","2,065","1,629"
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,4. Lincoln Square,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26,Total,"46,419","47,179","47,298","49,850","47,751","43,954","44,891","44,574","39,493","38,622","38,667","39,547","40,761","41,483"
27,Asian,0,0,0,0,732,N/A,"5,980","5,921","4,399","4,015","4,513","4,738","4,480","4,608"
28,Black or African-American,11,18,26,30,57,228,"1,087","1,342","1,488","1,764","1,793","1,525","1,398","1,394"
29,Persons of Spanish Language*,0,0,0,0,"1,995","4,973","10,353","11,831","7,562","7,483","6,333","6,236","7,184","7,284"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,Total,0,0,0,0,"6,342","11,068","11,192","11,956","12,756","13,687","13,700","14,143","13,483","12,902"
603,Asian,0,0,0,0,71,N/A,307,885,"1,058","1,158","1,300","1,359","1,487","1,407"
604,Black or African-American,0,0,0,0,11,163,312,258,403,200,175,150,104,231
605,Persons of Spanish Language*,0,0,0,0,140,288,519,773,"1,212","1,878","1,740","1,675","1,150","1,127"
606,White,0,0,0,0,"6,250","10,374","10,037","9,735","9,845","10,087","10,080","10,375","10,130","9,475"
607,Other,0,0,0,0,10,243,17,305,238,364,405,584,612,662
608,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
609,77. Edgewater,0,0,0,0,0,0,0,0,0,0,0,0,0,0
610,Total,"53,938","55,503","54,606","51,579","61,598","58,561","60,703","62,198","56,521","55,333","55,548","55,276","54,873","55,430"
611,Asian,0,0,0,0,"2,580",N/A,"7,041","7,172","6,582","6,733","6,953","6,482","6,340","6,430"
612,Black or African-American,86,111,91,53,373,"6,368","11,643","10,564","8,104","8,114","7,390","7,685","7,853","7,592"
613,Persons of Spanish Language*,0,0,0,0,"4,859","7,805","10,567","12,176","9,318","9,019","9,455","9,007","8,918","9,081"
614,White,"53,772","55,364","54,332","50,448","57,836","37,256","31,070","29,782","30,889","29,573","29,695","30,151","29,912","30,615"
615,Other,80,28,183,"1,078",809,"7,132",382,"2,504","1,628","1,894","2,055","1,951","1,850","1,712"
616,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
617,Chicago,0,0,0,0,0,Totals,0,0,0,0,0,0,0,0
618,Total,"3,376,438","3,396,808","3,620,962","3,550,404","3,366,957","3,005,072","2,783,726","2,896,016","2,695,598","2,702,471","2,706,101","2,712,608","2,716,981","2,713,515"
619,Asian,0,0,0,0,"31,810",N/A,"98,777","124,437","144,903","148,547","152,952","154,287","160,687","163,465"
620,Black or African-American,"233,903","277,731","492,265","812,637","1,102,620","1,187,905","1,074,471","1,053,739","872,286","877,891","862,567","853,214","840,188","829,758"
621,Persons of Spanish Language*,0,0,0,0,"247,343","422,063","545,852","753,644","778,862","768,128","775,748","785,292","790,621","790,521"
622,White,"3,117,731","3,114,564","3,111,525","2,712,748","2,207,767","1,299,557","1,056,048","907,166","854,717","865,254","870,611","872,513","874,876","877,342"
623,Other,"24,804","4,513","17,172","25,019","24,760","95,547","8,578","57,030","44,830","42,651","44,223","47,302","50,609","52,429"
624,Source: 1930-2010 data are tabulated from the ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0
625,Note: Data for some census tracts are suppress...,0,0,0,0,0,0,0,0,0,0,0,0,0,0
626,"Note: In 1930, the 24,804 Other includes 19,36...",0,0,0,0,0,0,0,0,0,0,0,0,0,0
627,"Note: In 1940, the 4,513 Other includes 2,013 ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0
628,"In 1950, the 17,172 includes 10,829 Japanese; ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0
629,"Note: In 1960, the 25,019 Other includes 5,082...",0,0,0,0,0,0,0,0,0,0,0,0,0,0
630,"Note: In 1970, the 31,810 Asian includes 9,357...",0,0,0,0,0,0,0,0,0,0,0,0,0,0
631,"Note: In 1970, Persons of Spanish Language wer...",0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [12]:
areas = []
for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 0:
        areas.append(df.iloc[i+1]['Race and Ethnicity in Chicago Community Areas'].strip("1234567890. "))

    
areas

['Rogers Park',
 'West Ridge',
 'Uptown',
 'Lincoln Square',
 'North Center',
 'Lake View',
 'Lincoln Park',
 'Near North Side',
 'Edison Park',
 'Norwood Park',
 'Jefferson Park',
 'Forest Glen',
 'North Park',
 'Albany Park',
 'Portage Park',
 'Irving Park',
 'Dunning',
 'Montclare',
 'Belmont Cragin',
 'Hermosa',
 'Avondale',
 'Logan Square',
 'Humboldt Park',
 'West Town',
 'Austin',
 'West Garfield Park',
 'East Garfield Park',
 'Near West Side',
 'North Lawndale',
 'South Lawndale',
 'Lower West Side',
 'Loop',
 'Near South Side',
 'Armour Square',
 'Douglas',
 'Oakland',
 'Fuller Park',
 'Grand Boulevard',
 'Kenwood',
 'Washington Park',
 'Hyde Park',
 'Woodlawn',
 'South Shore',
 'Chatham',
 'Avalon Park',
 'South Chicago',
 'Burnside',
 'Calumet Heights',
 'Roseland',
 'Pullman',
 'South Deering',
 'East Side',
 'West Pullman',
 'Riverdale',
 'Hegewisch',
 'Garfield Ridge',
 'Archer Heights',
 'Brighton Park',
 'McKinley Park',
 'Bridgeport',
 'New City',
 'West Elsdon',
 'Gage Park',
 'Clearing',
 'West Lawn',
 'Chicago Lawn',
 'West Englewood',
 'Englewood',
 'Greater Grand Crossing',
 'Ashburn',
 'Auburn Gresham',
 'Beverly',
 'Washington Heights',
 'Mount Greenwood',
 'Morgan Park',
 "O'Hare",
 'Edgewater',
 'Chicago']

In [13]:
thirty = []
fourty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
thousand = []
ten = []

for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 'Total':
        thirty.append(df.iloc[i][1])
        fourty.append(df.iloc[i][2])
        fifty.append(df.iloc[i][3])
        sixty.append(df.iloc[i][4])
        seventy.append(df.iloc[i][5])
        eighty.append(df.iloc[i][6])
        ninety.append(df.iloc[i][7])
        thousand.append(df.iloc[i][8])
        ten.append(df.iloc[i][9])
        
ten

['54,991',
 '71,942',
 '56,362',
 '39,493',
 '31,867',
 '94,368',
 '64,116',
 '80,484',
 '11,187',
 '37,023',
 '25,448',
 '18,508',
 '17,931',
 '51,542',
 '64,124',
 '53,359',
 '41,932',
 '13,426',
 '78,743',
 '25,010',
 '39,262',
 '72,791',
 '56,323',
 '82,236',
 '98,514',
 '18,001',
 '20,567',
 '54,881',
 '35,912',
 '79,288',
 '35,769',
 '29,283',
 '21,390',
 '13,391',
 '18,238',
 '5,918',
 '2,876',
 '21,929',
 '17,841',
 '11,717',
 '25,681',
 '23,740',
 '52,010',
 '31,028',
 '10,185',
 '31,198',
 '2,916',
 '13,812',
 '44,619',
 '7,325',
 '15,109',
 '23,042',
 '29,651',
 '6,482',
 '9,426',
 '34,513',
 '13,393',
 '45,368',
 '15,612',
 '31,977',
 '44,377',
 '18,109',
 '39,894',
 '23,139',
 '33,355',
 '55,628',
 '35,505',
 '30,654',
 '32,602',
 '41,081',
 '48,743',
 '20,034',
 '26,493',
 '19,093',
 '22,544',
 '12,756',
 '56,521',
 '2,695,598']

In [14]:
df_clean = pd.DataFrame({
    'Community':areas,
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})

In [19]:
df_clean["ID"] = df_clean.index + 1
df_clean = df_clean.set_index("ID")
df_clean

,1930,1940,1950,1960,1970,1980,1990,2000,2010,Community
ID,,,,,,,,,,
1,"57,094","60,565","62,252","56,888","60,787","55,525","60,378","63,484","54,991",Rogers Park
2,"39,759","43,553","47,930","63,884","65,432","61,129","65,374","73,199","71,942",West Ridge
3,"67,699","77,677","84,462","76,103","74,838","64,414","63,839","63,551","56,362",Uptown
4,"46,419","47,179","47,298","49,850","47,751","43,954","44,891","44,574","39,493",Lincoln Square
5,"47,651","48,759","47,787","43,877","39,410","35,161","33,010","31,895","31,867",North Center
6,"114,872","121,455","124,824","118,764","114,943","97,519","91,031","94,817","94,368",Lake View
7,"97,873","100,826","102,396","88,836","67,804","57,146","61,092","64,320","64,116",Lincoln Park
8,"79,554","76,954","89,196","75,509","70,269","67,167","62,842","72,811","80,484",Near North Side
9,"5,370","5,999","7,843","12,568","13,241","12,457","11,426","11,259","11,187",Edison Park
10,"14,408","16,466","26,798","40,953","41,827","40,585","37,719","37,669","37,023",Norwood Park
11,"20,532","21,537","23,556","27,494","27,553","24,583","23,649","25,859","25,448",Jefferson Park
12,"4,065","6,630","12,189","19,228","20,531","18,991","17,655","18,165","18,508",Forest Glen
13,"11,052","12,271","15,291","17,866","16,732","15,273","16,236","18,514","17,931",North Park
14,"55,577","56,692","52,995","49,450","47,092","46,075","49,501","57,655","51,542",Albany Park
15,"64,203","66,357","64,736","65,925","63,608","57,349","56,513","65,340","64,124",Portage Park
16,"66,783","66,553","64,881","58,298","54,900","49,489","50,159","58,643","53,359",Irving Park
17,"19,659","23,328","32,231","41,626","43,856","37,860","36,957","42,164","41,932",Dunning
18,"8,500","9,693","11,166","11,802","11,675","10,793","10,573","12,646","13,426",Montclare
19,"60,221","63,302","63,546","60,883","57,399","53,371","56,787","78,144","78,743",Belmont Cragin
20,"23,518","22,894","22,805","21,429","19,838","19,547","23,131","26,908","25,010",Hermosa
21,"48,433","47,684","45,313","39,748","35,806","33,527","35,579","43,083","39,262",Avondale
22,"114,174","110,010","106,763","94,799","88,555","84,768","82,605","82,715","72,791",Logan Square
23,"80,835","79,329","76,199","71,609","71,726","70,879","67,573","65,836","56,323",Humboldt Park
24,"187,292","169,924","161,620","139,657","124,800","96,428","87,703","87,435","82,236",West Town
25,"131,114","132,107","132,180","125,133","127,981","138,026","114,079","117,527","98,514",Austin
26,"50,014","48,447","48,443","45,611","48,464","33,865","24,095","23,019","18,001",West Garfield Park
27,"63,353","65,789","70,091","66,871","52,185","31,580","24,030","20,881","20,567",East Garfield Park
28,"152,457","136,518","160,362","126,610","78,703","57,305","46,197","46,419","54,881",Near West Side
29,"112,261","102,470","100,489","124,937","94,772","61,534","47,296","41,768","35,912",North Lawndale
30,"76,749","70,915","66,977","60,940","62,895","75,204","81,155","91,071","79,288",South Lawndale
...,...,...,...,...,...,...,...,...,...,...
49,"43,206","44,009","56,705","58,750","62,512","64,372","56,493","52,723","44,619",Roseland
50,"6,705","6,523","8,899","8,412","10,893","10,341","9,344","8,921","7,325",Pullman
51,"7,898","9,662","17,476","18,794","19,271","19,400","17,755","16,990","15,109",South Deering
52,"16,839","16,513","21,619","23,214","24,649","21,331","20,450","23,653","23,042",East Side
53,"28,474","27,834","29,265","35,397","40,318","44,904","39,846","36,649","29,651",West Pullman
54,"1,486","1,509","9,790","11,448","15,018","13,539","10,821","9,809","6,482",Riverdale
55,"7,890","7,509","7,142","8,936","11,346","11,572","10,136","9,781","9,426",Hegewisch
56,"6,050","6,813","12,900","40,449","42,998","37,935","33,948","36,101","34,513",Garfield Ridge
57,"8,120","8,216","8,675","10,584","11,134","9,708","9,227","12,644","13,393",Archer Heights
58,"46,552","45,030","41,345","38,019","35,618","30,770","32,207","44,912","45,368",Brighton Park
59,"22,032","20,429","18,813","16,908","15,632","13,248","13,297","15,962","15,612",McKinley Park
60,"53,553","49,109","46,070","41,560","35,167","30,923","29,877","33,694","31,977",Bridgeport
61,"87,103","80,725","75,917","67,428","60,817","55,860","53,226","51,721","44,377",New City
62,"2,861","3,255","7,728","14,215","14,059","12,797","12,266","15,921","18,109",West Elsdon
63,"31,535","30,343","30,149","28,244","26,698","24,445","26,957","39,193","39,894",Gage Park
64,"5,434","6,068","10,591","18,797","24,488","22,584","21,490","22,331","23,139",Clearing
65,"8,919","10,289","14,460","26,910","18,597","24,748","23,402","29,235","33,355",West Lawn
66,"47,462","49,291","50,211","51,347","48,435","46,568","51,243","61,412","55,628",Chicago Lawn
67,"63,845","64,171","62,842","58,516","61,910","62,069","52,772","45,282","35,505",West Englewood
68,"89,063","92,849","94,134","97,595","89,713","59,075","48,434","40,222","30,654",Englewood
69,"60,007","61,554","61,753","63,169","54,414","45,218","38,644","38,619","32,602",Greater Grand Crossing
70,733,731,"7,472","38,638","47,161","40,477","37,092","39,584","41,081",Ashburn
71,"57,381","57,293","60,978","59,484","68,854","65,132","59,808","55,928","48,743",Auburn Gresham
72,"13,793","15,910","20,186","24,814","26,771","23,360","22,385","21,992","20,034",Beverly
73,"17,865","19,370","24,488","29,793","36,540","36,453","32,114","29,843","26,493",Washington Heights
74,"3,310","4,390","12,331","21,941","23,186","20,084","19,179","18,820","19,093",Mount Greenwood
75,"12,747","15,645","22,618","27,912","31,016","29,315","26,740","25,226","22,544",Morgan Park
76,0,0,0,0,"6,342","11,068","11,192","11,956","12,756",O'Hare
77,"53,938","55,503","54,606","51,579","61,598","58,561","60,703","62,198","56,521",Edgewater
78,"3,376,438","3,396,808","3,620,962","3,550,404","3,366,957","3,005,072","2,783,726","2,896,016","2,695,598",Chicago

In [34]:
pop_history = df_clean.drop('Community', axis=1)
pop_history.to_csv('pop_history.csv')

In [33]:
comm_names = df_clean.drop(['1930','1940','1950','1960','1970','1980','1990','2000','2010'], axis=1)
comm_names.to_csv('comm_names.csv')