In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('Final Tables through 2016 - Race & Ethnicity.csv').fillna(0)

In [10]:
df

,Race and Ethnicity in Chicago Community Areas,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,0,1930,1940,1950,1960,1970,0,1980,1990,2000*,2010,2008-2012,2009-2013,2010-2014,2011-2015,2012-2016
1,1. Rogers Park,0,0,0,0,0,1. Rogers Park,0,0,0,0,0,0,0,0,0
2,Total,"57,094","60,565","62,252","56,888","60,787",Total,"55,525","60,378","63,484","54,991","57,559","57,165","55,053","54,402","55,500"
3,Asian,0,0,0,0,"1,620",Not Hispanic or Latino: Asian alone,N/A,"5,100","4,063","3,523","3,876","3,450","3,526","3,501","3,205"
4,Black or African-American,128,130,108,57,762,Not Hispanic or Latino: Black or African Amer...,"5,095","15,885","18,767","14,461","15,662","15,461","14,325","13,320","14,455"
5,Persons of Spanish Language*,0,0,0,0,"2,802",Hispanic or Latino,"6,621","12,005","17,639","13,433","14,280","14,189","13,530","13,135","12,383"
6,White,"56,895","60,370","62,095","56,503","58,050",Not Hispanic or Latino: White alone,"38,699","27,030","20,170","21,618","21,819","22,304","22,094","22,769","23,604"
7,Other,71,65,49,328,355,Not Hispanic or Latino: Other,"5,110",358,"2,845","1,956","1,922","1,761","1,578","1,677","1,853"
8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,2. West Ridge,0,0,0,0,0,2. West Ridge,0,0,0,0,0,0,0,0,0
10,Total,"39,759","43,553","47,930","63,884","65,432",Total,"61,129","65,374","73,199","71,942","73,705","73,305","73,019","72,211","73,723"
11,Asian,0,0,0,0,560,Not Hispanic or Latino: Asian alone,N/A,"10,523","16,347","16,184","17,078","17,702","17,097","16,868","16,641"
12,Black or African-American,46,111,115,81,91,Not Hispanic or Latino: Black or African Amer...,436,"2,045","4,962","8,015","7,683","7,529","7,644","8,110","8,936"
13,Persons of Spanish Language*,0,0,0,0,"1,129",Hispanic or Latino,"2,266","5,398","11,353","14,701","15,260","13,994","13,088","12,672","13,366"
14,White,"39,701","43,413","47,786","63,696","64,690",Not Hispanic or Latino: White alone,"52,949","47,098","36,403","30,706","31,779","31,630","32,839","31,978","31,806"
15,Other,12,29,29,107,91,Not Hispanic or Latino: Other,"5,478",310,"4,134","2,336","1,905","2,450","2,351","2,583","2,974"
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,3. Uptown,0,0,0,0,0,3. Uptown,0,0,0,0,0,0,0,0,0
18,Total,"67,699","77,677","84,462","76,103","74,838",Total,"64,414","63,839","63,551","56,362","54,995","54,449","54,062","55,137","56,296"
19,Asian,0,0,0,0,"4,039",Not Hispanic or Latino: Asian alone,N/A,"8,859","8,206","6,414","6,402","5,803","5,285","4,854","5,773"
20,Black or African-American,445,426,436,370,"3,045",Not Hispanic or Latino: Black or African Amer...,"9,416","15,134","13,415","11,275","11,062","10,796","10,785","11,445","10,970"
21,Persons of Spanish Language*,0,0,0,0,"9,955",Hispanic or Latino,"14,984","14,398","12,674","8,009","7,010","6,627","6,964","6,402","7,468"
22,White,"66,932","77,019","82,868","72,147","65,644",Not Hispanic or Latino: White alone,"30,561","24,743","26,784","29,098","28,769","29,312","28,972","30,371","30,456"
23,Other,322,232,"1,158","3,586","2,110",Not Hispanic or Latino: Other,"9,453",705,"2,472","1,566","1,752","1,911","2,056","2,065","1,629"
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
25,4. Lincoln Square,0,0,0,0,0,4. Lincoln Square,0,0,0,0,0,0,0,0,0
26,Total,"46,419","47,179","47,298","49,850","47,751",Total,"43,954","44,891","44,574","39,493","38,622","38,667","39,547","40,761","41,483"
27,Asian,0,0,0,0,732,Not Hispanic or Latino: Asian alone,N/A,"5,980","5,921","4,399","4,015","4,513","4,738","4,480","4,608"
28,Black or African-American,11,18,26,30,57,Not Hispanic or Latino: Black or African Amer...,228,"1,087","1,342","1,488","1,764","1,793","1,525","1,398","1,394"
29,Persons of Spanish Language*,0,0,0,0,"1,995",Hispanic or Latino,"4,973","10,353","11,831","7,562","7,483","6,333","6,236","7,184","7,284"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,Total,0,0,0,0,"6,342",Total,"11,068","11,192","11,956","12,756","13,687","13,700","14,143","13,483","12,902"
603,Asian,0,0,0,0,71,Not Hispanic or Latino: Asian alone,N/A,307,885,"1,058","1,158","1,300","1,359","1,487","1,407"
604,Black or African-American,0,0,0,0,11,Not Hispanic or Latino: Black or African Amer...,163,312,258,403,200,175,150,104,231
605,Persons of Spanish Language*,0,0,0,0,140,Hispanic or Latino,288,519,773,"1,212","1,878","1,740","1,675","1,150","1,127"
606,White,0,0,0,0,"6,250",Not Hispanic or Latino: White alone,"10,374","10,037","9,735","9,845","10,087","10,080","10,375","10,130","9,475"
607,Other,0,0,0,0,10,Not Hispanic or Latino: Other,243,17,305,238,364,405,584,612,662
608,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
609,77. Edgewater,0,0,0,0,0,77. Edgewater,0,0,0,0,0,0,0,0,0
610,Total,"53,938","55,503","54,606","51,579","61,598",Total,"58,561","60,703","62,198","56,521","55,333","55,548","55,276","54,873","55,430"
611,Asian,0,0,0,0,"2,580",Not Hispanic or Latino: Asian alone,N/A,"7,041","7,172","6,582","6,733","6,953","6,482","6,340","6,430"
612,Black or African-American,86,111,91,53,373,Not Hispanic or Latino: Black or African Amer...,"6,368","11,643","10,564","8,104","8,114","7,390","7,685","7,853","7,592"
613,Persons of Spanish Language*,0,0,0,0,"4,859",Hispanic or Latino,"7,805","10,567","12,176","9,318","9,019","9,455","9,007","8,918","9,081"
614,White,"53,772","55,364","54,332","50,448","57,836",Not Hispanic or Latino: White alone,"37,256","31,070","29,782","30,889","29,573","29,695","30,151","29,912","30,615"
615,Other,80,28,183,"1,078",809,Not Hispanic or Latino: Other,"7,132",382,"2,504","1,628","1,894","2,055","1,951","1,850","1,712"
616,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
617,Chicago,0,0,0,0,0,Chicago,Totals,0,0,0,0,0,0,0,0
618,Total,"3,376,438","3,396,808","3,620,962","3,550,404","3,366,957",Total,"3,005,072","2,783,726","2,896,016","2,695,598","2,702,471","2,706,101","2,712,608","2,716,981","2,713,515"
619,Asian,0,0,0,0,"31,810",Not Hispanic or Latino: Asian alone,N/A,"98,777","124,437","144,903","148,547","152,952","154,287","160,687","163,465"
620,Black or African-American,"233,903","277,731","492,265","812,637","1,102,620",Not Hispanic or Latino: Black or African Amer...,"1,187,905","1,074,471","1,053,739","872,286","877,891","862,567","853,214","840,188","829,758"
621,Persons of Spanish Language*,0,0,0,0,"247,343",Hispanic or Latino,"422,063","545,852","753,644","778,862","768,128","775,748","785,292","790,621","790,521"
622,White,"3,117,731","3,114,564","3,111,525","2,712,748","2,207,767",Not Hispanic or Latino: White alone,"1,299,557","1,056,048","907,166","854,717","865,254","870,611","872,513","874,876","877,342"
623,Other,"24,804","4,513","17,172","25,019","24,760",Not Hispanic or Latino: Other,"95,547","8,578","57,030","44,830","42,651","44,223","47,302","50,609","52,429"
624,Source: 1930-2010 data are tabulated from the ...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
625,Note: Data for some census tracts are suppress...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
626,"Note: In 1930, the 24,804 Other includes 19,36...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
627,"Note: In 1940, the 4,513 Other includes 2,013 ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
628,"In 1950, the 17,172 includes 10,829 Japanese; ...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
629,"Note: In 1960, the 25,019 Other includes 5,082...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
630,"Note: In 1970, the 31,810 Asian includes 9,357...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
631,"Note: In 1970, Persons of Spanish Language wer...",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
areas = []
for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 0:
        areas.append(df.iloc[i+1]['Race and Ethnicity in Chicago Community Areas'])
        
areas

['1. Rogers Park',
 '2. West Ridge',
 '3. Uptown',
 '4. Lincoln Square',
 '5. North Center',
 '6. Lake View',
 '7. Lincoln Park',
 '8. Near North Side',
 '9. Edison Park',
 '10. Norwood Park',
 '11. Jefferson Park',
 '12. Forest Glen',
 '13. North Park',
 '14. Albany Park',
 '15. Portage Park',
 '16. Irving Park',
 '17. Dunning',
 '18. Montclare',
 '19. Belmont Cragin',
 '20. Hermosa',
 '21. Avondale',
 '22. Logan Square',
 '23. Humboldt Park',
 '24. West Town',
 '25. Austin',
 '26. West Garfield Park',
 '27. East Garfield Park',
 '28. Near West Side',
 '29. North Lawndale',
 '30. South Lawndale',
 '31. Lower West Side',
 '32. Loop',
 '33. Near South Side',
 '34. Armour Square',
 '35. Douglas',
 '36. Oakland',
 '37. Fuller Park',
 '38. Grand Boulevard',
 '39. Kenwood',
 '40. Washington Park',
 '41. Hyde Park',
 '42. Woodlawn',
 '43. South Shore',
 '44. Chatham',
 '45. Avalon Park',
 '46. South Chicago',
 '47. Burnside',
 '48. Calumet Heights',
 '49. Roseland',
 '50. Pullman',
 '51. South Deering',
 '52. East Side',
 '53. West Pullman',
 '54. Riverdale',
 '55. Hegewisch',
 '56. Garfield Ridge',
 '57. Archer Heights',
 '58. Brighton Park',
 '59. McKinley Park',
 '60. Bridgeport',
 '61. New City',
 '62. West Elsdon',
 '63. Gage Park',
 '64. Clearing',
 '65. West Lawn',
 '66. Chicago Lawn',
 '67. West Englewood',
 '68. Englewood',
 '69. Greater Grand Crossing',
 '70. Ashburn',
 '71. Auburn Gresham',
 '72. Beverly',
 '73. Washington Heights',
 '74. Mount Greenwood',
 '75. Morgan Park',
 "76. O'Hare",
 '77. Edgewater',
 'Chicago']

In [12]:
thirty = []
fourty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
thousand = []
ten = []

for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 'Other':
        thirty.append(df.iloc[i][1])
        fourty.append(df.iloc[i][2])
        fifty.append(df.iloc[i][3])
        sixty.append(df.iloc[i][4])
        seventy.append(df.iloc[i][5])
        eighty.append(df.iloc[i][7])
        ninety.append(df.iloc[i][8])
        thousand.append(df.iloc[i][9])
        ten.append(df.iloc[i][10])
        
# ten
# thirty

In [13]:
df_clean = pd.DataFrame({
    'Community':areas,
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})

In [14]:
# df_clean = df_clean.set_index('Community')
df_clean

,1930,1940,1950,1960,1970,1980,1990,2000,2010,Community
0,71,65,49,328,355,"5,110",358,"2,845","1,956",1. Rogers Park
1,12,29,29,107,91,"5,478",310,"4,134","2,336",2. West Ridge
2,322,232,"1,158","3,586","2,110","9,453",705,"2,472","1,566",3. Uptown
3,24,24,39,276,208,"4,762",403,"1,764","1,128",4. Lincoln Square
4,17,14,46,207,237,"1,902",208,804,716,5. North Center
5,239,238,763,"3,578","1,707","6,591",403,"1,850","2,021",6. Lake View
6,337,130,"1,648","2,874",887,"2,097",140,"1,077","1,358",7. Lincoln Park
7,823,793,"3,111","1,826",410,"1,321",108,"1,291","1,605",8. Near North Side
8,-,2,1,3,7,101,5,74,132,9. Edison Park
9,2,4,17,26,23,498,44,424,564,10. Norwood Park
10,8,8,10,19,12,380,52,559,525,11. Jefferson Park
11,5,1,3,19,18,541,17,326,441,12. Forest Glen
12,35,-,30,69,44,"1,664",51,659,687,13. North Park
13,36,43,43,181,218,"7,726",344,"2,963","1,495",14. Albany Park
14,13,19,37,67,66,"1,004",110,"2,097","1,106",15. Portage Park
15,38,30,96,153,96,"2,990",242,"1,847","1,321",16. Irving Park
16,8,16,7,64,18,361,40,780,528,17. Dunning
17,2,5,4,16,17,98,21,288,162,18. Montclare
18,40,16,16,42,66,"1,044",124,"1,393",653,19. Belmont Cragin
19,5,7,28,28,25,689,85,280,186,20. Hermosa
20,7,16,27,132,148,"1,325",133,"2,004",616,21. Avondale
21,69,39,113,352,872,"2,087",352,"1,763","1,254",22. Logan Square
22,113,13,41,212,614,"1,989",205,599,523,23. Humboldt Park
23,180,62,440,812,"3,121","3,204",521,"2,535","1,774",24. West Town
24,50,43,88,186,729,"3,152",134,"1,013","1,018",25. Austin
25,58,31,92,255,120,102,24,103,197,26. West Garfield Park
26,166,95,252,365,118,64,28,118,240,27. East Garfield Park
27,"7,522",470,908,788,"1,303","1,837",126,866,"1,466",28. Near West Side
28,66,42,247,318,300,192,63,271,367,29. North Lawndale
29,120,19,55,94,"2,121",731,247,373,288,30. South Lawndale
...,...,...,...,...,...,...,...,...,...,...
48,33,4,25,103,217,294,63,485,499,49. Roseland
49,71,-,2,12,58,89,25,92,105,50. Pullman
50,997,-,7,32,237,206,50,184,203,51. South Deering
51,44,1,3,19,52,182,49,290,167,52. East Side
52,290,12,12,7,94,173,49,329,369,53. West Pullman
53,-,-,5,15,28,43,22,97,65,54. Riverdale
54,92,-,-,4,20,117,12,246,108,55. Hegewisch
55,32,-,-,88,81,464,39,528,240,56. Garfield Ridge
56,39,-,2,-,23,121,9,285,69,57. Archer Heights
57,446,1,6,35,109,653,104,694,199,58. Brighton Park
58,9,5,4,23,39,107,48,208,155,59. McKinley Park
59,501,5,15,59,380,765,118,548,415,60. Bridgeport
60,"2,158",23,29,90,393,708,184,586,374,61. New City
61,54,-,3,5,20,104,10,375,68,62. West Elsdon
62,6,7,11,20,52,369,67,399,131,63. Gage Park
63,17,2,8,18,46,113,35,307,240,64. Clearing
64,-,-,7,12,30,180,35,484,162,65. West Lawn
65,15,3,6,50,92,"1,168",223,"1,055",475,66. Chicago Lawn
66,24,26,41,91,239,121,65,359,404,67. West Englewood
67,64,42,110,272,403,205,77,318,343,68. Englewood
68,86,21,70,225,185,215,47,392,423,69. Greater Grand Crossing
69,56,-,11,33,42,464,50,911,446,70. Ashburn
70,21,9,14,47,200,223,54,437,456,71. Auburn Gresham
71,3,2,5,9,10,152,58,408,384,72. Beverly
72,42,2,17,65,73,114,40,302,309,73. Washington Heights
73,-,1,-,19,3,71,27,237,185,74. Mount Greenwood
74,14,9,16,33,46,148,50,284,321,75. Morgan Park
75,0,0,0,0,10,243,17,305,238,76. O'Hare
76,80,28,183,"1,078",809,"7,132",382,"2,504","1,628",77. Edgewater
77,"24,804","4,513","17,172","25,019","24,760","95,547","8,578","57,030","44,830",Chicago

In [15]:
community_id = df_clean.Community.str.split('.', expand = True)
community_id.head()

   0                1
0  1      Rogers Park
1  2       West Ridge
2  3           Uptown
3  4   Lincoln Square
4  5     North Center

In [16]:
clean = pd.DataFrame({
    'ID':community_id[0],
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})
clean.head()

,1930,1940,1950,1960,1970,1980,1990,2000,2010,ID
0,71,65,49,328,355,"5,110",358,"2,845","1,956",1
1,12,29,29,107,91,"5,478",310,"4,134","2,336",2
2,322,232,"1,158","3,586","2,110","9,453",705,"2,472","1,566",3
3,24,24,39,276,208,"4,762",403,"1,764","1,128",4
4,17,14,46,207,237,"1,902",208,804,716,5

In [17]:
clean = clean.set_index('ID')
clean

,1930,1940,1950,1960,1970,1980,1990,2000,2010
ID,,,,,,,,,
1,71,65,49,328,355,"5,110",358,"2,845","1,956"
2,12,29,29,107,91,"5,478",310,"4,134","2,336"
3,322,232,"1,158","3,586","2,110","9,453",705,"2,472","1,566"
4,24,24,39,276,208,"4,762",403,"1,764","1,128"
5,17,14,46,207,237,"1,902",208,804,716
6,239,238,763,"3,578","1,707","6,591",403,"1,850","2,021"
7,337,130,"1,648","2,874",887,"2,097",140,"1,077","1,358"
8,823,793,"3,111","1,826",410,"1,321",108,"1,291","1,605"
9,-,2,1,3,7,101,5,74,132
10,2,4,17,26,23,498,44,424,564
11,8,8,10,19,12,380,52,559,525
12,5,1,3,19,18,541,17,326,441
13,35,-,30,69,44,"1,664",51,659,687
14,36,43,43,181,218,"7,726",344,"2,963","1,495"
15,13,19,37,67,66,"1,004",110,"2,097","1,106"
16,38,30,96,153,96,"2,990",242,"1,847","1,321"
17,8,16,7,64,18,361,40,780,528
18,2,5,4,16,17,98,21,288,162
19,40,16,16,42,66,"1,044",124,"1,393",653
20,5,7,28,28,25,689,85,280,186
21,7,16,27,132,148,"1,325",133,"2,004",616
22,69,39,113,352,872,"2,087",352,"1,763","1,254"
23,113,13,41,212,614,"1,989",205,599,523
24,180,62,440,812,"3,121","3,204",521,"2,535","1,774"
25,50,43,88,186,729,"3,152",134,"1,013","1,018"
26,58,31,92,255,120,102,24,103,197
27,166,95,252,365,118,64,28,118,240
28,"7,522",470,908,788,"1,303","1,837",126,866,"1,466"
29,66,42,247,318,300,192,63,271,367
30,120,19,55,94,"2,121",731,247,373,288
...,...,...,...,...,...,...,...,...,...
49,33,4,25,103,217,294,63,485,499
50,71,-,2,12,58,89,25,92,105
51,997,-,7,32,237,206,50,184,203
52,44,1,3,19,52,182,49,290,167
53,290,12,12,7,94,173,49,329,369
54,-,-,5,15,28,43,22,97,65
55,92,-,-,4,20,117,12,246,108
56,32,-,-,88,81,464,39,528,240
57,39,-,2,-,23,121,9,285,69
58,446,1,6,35,109,653,104,694,199
59,9,5,4,23,39,107,48,208,155
60,501,5,15,59,380,765,118,548,415
61,"2,158",23,29,90,393,708,184,586,374
62,54,-,3,5,20,104,10,375,68
63,6,7,11,20,52,369,67,399,131
64,17,2,8,18,46,113,35,307,240
65,-,-,7,12,30,180,35,484,162
66,15,3,6,50,92,"1,168",223,"1,055",475
67,24,26,41,91,239,121,65,359,404
68,64,42,110,272,403,205,77,318,343
69,86,21,70,225,185,215,47,392,423
70,56,-,11,33,42,464,50,911,446
71,21,9,14,47,200,223,54,437,456
72,3,2,5,9,10,152,58,408,384
73,42,2,17,65,73,114,40,302,309
74,-,1,-,19,3,71,27,237,185
75,14,9,16,33,46,148,50,284,321
76,0,0,0,0,10,243,17,305,238
77,80,28,183,"1,078",809,"7,132",382,"2,504","1,628"
Chicago,"24,804","4,513","17,172","25,019","24,760","95,547","8,578","57,030","44,830"

In [18]:
clean = clean[:-1]
clean

,1930,1940,1950,1960,1970,1980,1990,2000,2010
ID,,,,,,,,,
1,71,65,49,328,355,"5,110",358,"2,845","1,956"
2,12,29,29,107,91,"5,478",310,"4,134","2,336"
3,322,232,"1,158","3,586","2,110","9,453",705,"2,472","1,566"
4,24,24,39,276,208,"4,762",403,"1,764","1,128"
5,17,14,46,207,237,"1,902",208,804,716
6,239,238,763,"3,578","1,707","6,591",403,"1,850","2,021"
7,337,130,"1,648","2,874",887,"2,097",140,"1,077","1,358"
8,823,793,"3,111","1,826",410,"1,321",108,"1,291","1,605"
9,-,2,1,3,7,101,5,74,132
10,2,4,17,26,23,498,44,424,564
11,8,8,10,19,12,380,52,559,525
12,5,1,3,19,18,541,17,326,441
13,35,-,30,69,44,"1,664",51,659,687
14,36,43,43,181,218,"7,726",344,"2,963","1,495"
15,13,19,37,67,66,"1,004",110,"2,097","1,106"
16,38,30,96,153,96,"2,990",242,"1,847","1,321"
17,8,16,7,64,18,361,40,780,528
18,2,5,4,16,17,98,21,288,162
19,40,16,16,42,66,"1,044",124,"1,393",653
20,5,7,28,28,25,689,85,280,186
21,7,16,27,132,148,"1,325",133,"2,004",616
22,69,39,113,352,872,"2,087",352,"1,763","1,254"
23,113,13,41,212,614,"1,989",205,599,523
24,180,62,440,812,"3,121","3,204",521,"2,535","1,774"
25,50,43,88,186,729,"3,152",134,"1,013","1,018"
26,58,31,92,255,120,102,24,103,197
27,166,95,252,365,118,64,28,118,240
28,"7,522",470,908,788,"1,303","1,837",126,866,"1,466"
29,66,42,247,318,300,192,63,271,367
30,120,19,55,94,"2,121",731,247,373,288
...,...,...,...,...,...,...,...,...,...
48,157,1,3,31,122,294,31,171,194
49,33,4,25,103,217,294,63,485,499
50,71,-,2,12,58,89,25,92,105
51,997,-,7,32,237,206,50,184,203
52,44,1,3,19,52,182,49,290,167
53,290,12,12,7,94,173,49,329,369
54,-,-,5,15,28,43,22,97,65
55,92,-,-,4,20,117,12,246,108
56,32,-,-,88,81,464,39,528,240
57,39,-,2,-,23,121,9,285,69
58,446,1,6,35,109,653,104,694,199
59,9,5,4,23,39,107,48,208,155
60,501,5,15,59,380,765,118,548,415
61,"2,158",23,29,90,393,708,184,586,374
62,54,-,3,5,20,104,10,375,68
63,6,7,11,20,52,369,67,399,131
64,17,2,8,18,46,113,35,307,240
65,-,-,7,12,30,180,35,484,162
66,15,3,6,50,92,"1,168",223,"1,055",475
67,24,26,41,91,239,121,65,359,404
68,64,42,110,272,403,205,77,318,343
69,86,21,70,225,185,215,47,392,423
70,56,-,11,33,42,464,50,911,446
71,21,9,14,47,200,223,54,437,456
72,3,2,5,9,10,152,58,408,384
73,42,2,17,65,73,114,40,302,309
74,-,1,-,19,3,71,27,237,185
75,14,9,16,33,46,148,50,284,321
76,0,0,0,0,10,243,17,305,238
77,80,28,183,"1,078",809,"7,132",382,"2,504","1,628"

In [19]:
clean.to_csv('other_pop_id.csv')

In [20]:
thirty = []
fourty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
thousand = []
ten = []

for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 'Asian':
        thirty.append(df.iloc[i][1])
        fourty.append(df.iloc[i][2])
        fifty.append(df.iloc[i][3])
        sixty.append(df.iloc[i][4])
        seventy.append(df.iloc[i][5])
        eighty.append(df.iloc[i][7])
        ninety.append(df.iloc[i][8])
        thousand.append(df.iloc[i][9])
        ten.append(df.iloc[i][10])
        
df_clean = pd.DataFrame({
    'Community':areas,
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})

# df_clean = df_clean.set_index('Community')
df_clean
community_id = df_clean.Community.str.split('.', expand = True)
community_id.head()
clean = pd.DataFrame({
    'ID':community_id[0],
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})
clean.head()
clean = clean.set_index('ID')
clean
clean = clean[:-1]
clean
clean.to_csv('asian_pop_id.csv')

In [21]:
thirty = []
fourty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
thousand = []
ten = []

for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 'Black or African-American':
        thirty.append(df.iloc[i][1])
        fourty.append(df.iloc[i][2])
        fifty.append(df.iloc[i][3])
        sixty.append(df.iloc[i][4])
        seventy.append(df.iloc[i][5])
        eighty.append(df.iloc[i][7])
        ninety.append(df.iloc[i][8])
        thousand.append(df.iloc[i][9])
        ten.append(df.iloc[i][10])
        
df_clean = pd.DataFrame({
    'Community':areas,
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})

# df_clean = df_clean.set_index('Community')
df_clean
community_id = df_clean.Community.str.split('.', expand = True)
community_id.head()
clean = pd.DataFrame({
    'ID':community_id[0],
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})
clean.head()
clean = clean.set_index('ID')
clean
clean = clean[:-1]
clean
clean.to_csv('black_pop_id.csv')

In [22]:
thirty = []
fourty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
thousand = []
ten = []

for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 'Persons of Spanish Language*':
        thirty.append(df.iloc[i][1])
        fourty.append(df.iloc[i][2])
        fifty.append(df.iloc[i][3])
        sixty.append(df.iloc[i][4])
        seventy.append(df.iloc[i][5])
        eighty.append(df.iloc[i][7])
        ninety.append(df.iloc[i][8])
        thousand.append(df.iloc[i][9])
        ten.append(df.iloc[i][10])
        
df_clean = pd.DataFrame({
    'Community':areas,
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})

# df_clean = df_clean.set_index('Community')
df_clean
community_id = df_clean.Community.str.split('.', expand = True)
community_id.head()
clean = pd.DataFrame({
    'ID':community_id[0],
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})
clean.head()
clean = clean.set_index('ID')
clean
clean = clean[:-1]
clean
clean.to_csv('hispanic_pop_id.csv')

In [23]:
thirty = []
fourty = []
fifty = []
sixty = []
seventy = []
eighty = []
ninety = []
thousand = []
ten = []

for i in range(0, len(df)):
    if df.iloc[i]['Race and Ethnicity in Chicago Community Areas'] == 'White':
        thirty.append(df.iloc[i][1])
        fourty.append(df.iloc[i][2])
        fifty.append(df.iloc[i][3])
        sixty.append(df.iloc[i][4])
        seventy.append(df.iloc[i][5])
        eighty.append(df.iloc[i][7])
        ninety.append(df.iloc[i][8])
        thousand.append(df.iloc[i][9])
        ten.append(df.iloc[i][10])
        
df_clean = pd.DataFrame({
    'Community':areas,
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})

# df_clean = df_clean.set_index('Community')
df_clean
community_id = df_clean.Community.str.split('.', expand = True)
community_id.head()
clean = pd.DataFrame({
    'ID':community_id[0],
    '1930':thirty,
    '1940':fourty,
    '1950':fifty,
    '1960':sixty,
    '1970':seventy,
    '1980':eighty,
    '1990':ninety,
    '2000':thousand,
    '2010':ten
})
clean.head()
clean = clean.set_index('ID')
clean
clean = clean[:-1]
clean
clean.to_csv('white_pop_id.csv')